#navbar{
    height: 80px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    background-color: #FFC017;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    /* width: 1200px; */
}

.nav-logo{
    width: 300px;
    height: 110%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links{
    /* border: 1px solid orange; */
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item{
    /* border: 1px solid black; */
    height: 20px;
    text-decoration: none;
    font-size: 20px;
}

.nav-item:link{
    color: black;
}

.nav-item:visited{
    color: black;
}

.get-started{
    /* height: 30px; */
    /* width: 90px; */
    font-size: 16px;
    padding: 5px 20px;
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 50px;
    /* position: relative; */
}

.get-started:hover{
    cursor: pointer;
}

.nav-image{
    height: 50%;
    width: 80%;
    /* border: 1px solid black; */
    background-image: url("https://miro.medium.com/v2/resize:fit:8978/1*s986xIGqhfsN8U--09_AdA.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20% 0;
}